<h1>Add event page!</h1>

<form action="/event-add" method="post">
  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Detail:</label>
  <input type="text" name="detail">

  <label for="">Location:</label>
  <input type="text" name="location">

  <label for="">Review:</label>
  <input type="text" name="review">

  <button type="submit">Add Event</button>
</form>

<br>
<div>
        <button class="logout"><a href="/logout">Logout</a></button>
</div>
<hr>
<div>
             <button class="event"><a href="/event">Go To Event Page</a></button>
</div>
<hr>
<div>
             <button class="event"><a href="/">Go To Index Page</a></button>
</div>


 <h1>Edit Events Code - uncomment for final testing</h1>
{{!-- {{#each event}}
    {{!-- <p><a href="event/{{this._id}}">{{this.title}}</a></p> --}}
    {{!-- <a href="/event/edit?event_id={{this._id}}" class="edit-button">EDIT</a> --}}
{{!-- {{/each}} --}} 