<div id="container">
  <h1>Home page</h1>
  <button><a href="/signup">Sign up</a></button>
   <button><a href="/login">Login</a></button>
   <button><a href="/secret">Protected page (requires authentication)</a></button>
   <button><a href="/logout">Home Logout</a></button>
</div>