<h1>Index page</h1>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/logout">Logout</a>

 <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
  <p class="account-message">
    If have an account? <a href="/login">Login up</a>
  </p>

  <div>
             <button class="event"><a href="/event">Go To Event Page</a></button>
</div>
<hr>
<div>
             <button class="event"><a href="/events-add">Go To Event Add Page</a></button>
</div>